<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:name=".application.BindApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.BIND_ANDROID"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
                android:name=".presentation.start.SplashActivity"
                android:exported="true"
                android:theme="@style/Theme.BIND_ANDROID.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Auth Main Activity -->
        <activity
                android:name=".presentation.start.auth.AuthMainActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Login Activity -->
        <activity
                android:name=".presentation.start.auth.LoginActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Email Auth Activity -->
        <activity
                android:name=".presentation.start.emailauth.EmailAuthActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Sign Up Activity -->
        <activity
                android:name=".presentation.start.signup.SignUpActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Consent Activity -->
        <activity
                android:name=".presentation.start.consent.ConsentActivity"
                android:exported="false"
                android:theme="@style/Theme.BIND_ANDROID.Transparent"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Find Password Activity -->
        <activity
                android:name=".presentation.start.findpassword.FindPasswordActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Profile Setting Activity -->
        <activity
                android:name=".presentation.start.profilesetting.ProfileSettingActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Main Activity -->
        <activity
                android:name=".presentation.main.MainActivity"
                android:exported="false"
                android:launchMode="singleTask"/>

        <!-- Studio Detail Activity -->
        <activity
                android:name=".presentation.studiodetail.StudioDetailActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Community Detail Activity -->
        <activity
                android:name=".presentation.communitydetail.CommunityDetailActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Write Post Activity -->
        <activity
                android:name=".presentation.writepost.WritePostActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Settings Activity -->
        <activity
                android:name=".presentation.settings.SettingsActivity"
                android:exported="false"/>

        <!-- My Posts Activity -->
        <activity
                android:name=".presentation.myposts.MyPostsActivity"
                android:exported="false"/>

        <!-- Reservation History Activity -->
        <activity
                android:name=".presentation.reservationhistory.ReservationHistoryActivity"
                android:exported="false"/>

        <!-- Reservation Detail Activity -->
        <activity
                android:name=".presentation.reservationdetail.ReservationDetailActivity"
                android:exported="false"/>

        <!-- Select Time Activity -->
        <activity
                android:name=".presentation.selecttime.SelectTimeActivity"
                android:exported="false"
                android:theme="@style/Theme.BIND_ANDROID.Transparent"/>

        <!-- Reservation Option Activity -->
        <activity
                android:name=".presentation.reservationoption.ReservationOptionActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Reservation Form Activity -->
        <activity
                android:name=".presentation.reservationform.ReservationFormActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Reservation Check Activity -->
        <activity
                android:name=".presentation.reservationcheck.ReservationCheckActivity"
                android:exported="false"/>

        <!-- Payment Activity -->
        <activity
                android:name=".presentation.payment.PaymentActivity"
                android:exported="false"/>

        <!-- Search Activity -->
        <activity
                android:name=".presentation.search.SearchActivity"
                android:exported="false"
                android:windowSoftInputMode="adjustResize"/>

        <!-- Notification Activity -->
        <activity
                android:name=".presentation.notification.NotificationActivity"
                android:exported="false"/>

        <!-- Payment History Activity -->
        <activity
                android:name=".presentation.paymenthistory.PaymentHistoryActivity"
                android:exported="false"/>

        <!-- Mini Feed Activity -->
        <activity
                android:name=".presentation.minifeed.MiniFeedActivity"
                android:exported="false"/>

        <!-- Notice Event Activity -->
        <activity
                android:name=".presentation.noticeevent.NoticeEventActivity"
                android:exported="false"/>

        <!-- Customer Service Activity -->
        <activity
                android:name=".presentation.customerservice.CustomerServiceActivity"
                android:exported="false"/>

    </application>

</manifest>
